<div class="container p-5">
    <table>
        <tr>
            <td>
                <img src="../../assets/messages.jpg">
            </td>
            <td>
                <ul>
                    <li>
                        <span class="text-primary">Publiez vos messages sur le mur</span>
                    </li>
                    <li>
                        <span class="text-primary">Tapez l'objet du message et son contenupuis VALIDEZ !</span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>